{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">

<div class="container-fluid">
    <h1>{{ question.question_text }}</h1>

    {% if error_message %}<p class="text-danger"><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
            <label for="choice{{ forlorn.counter }}">
                <input type="radio" name="choice" id="choice{{ forlorn.counter }}" value="{{ choice.id }}"/>
                {{ choice.choice_text }}
            </label>
            <br/>
        {% endfor %}
        <a href="{% url 'polls:index' %}" class="btn btn-default btn-danger">Cancel</a>
        <input type="submit" value="Vote" class="btn btn-default btn-success">
    </form>
<img src="{% static 'polls/images/fundraising-heart.svg' %}"/>
</div>

<script href="https://cdn.deliver.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
<script href="https://cdn.deliver.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>